graphreduce.egg-info/*
*.pyc
*.sublime-workspace
*.sublime-project
graphreduce/test/edge.csv.gz
graphreduce/test/vertex.csv.gz
graphreduce/input/*
graphreduce/output/*
graphreduce/relaxmap/input/*
graphreduce/relaxmap/output/*
notebooks/.ipynb_checkpoints/*